<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.barracuda.barracudateacher.reference.mapper.ReferenceDocumentRelationMapper">
    
    <resultMap type="ReferenceDocumentRelation" id="ReferenceDocumentRelationResult">
        <result property="refReferenceId"    column="ref_reference_id"    />
        <result property="refDocumentId"    column="ref_document_id"    />
    </resultMap>

    <sql id="selectReferenceDocumentRelationVo">
        select ref_reference_id, ref_document_id from rt_reference_document
    </sql>

    <select id="selectReferenceDocumentRelationList" parameterType="ReferenceDocumentRelation" resultMap="ReferenceDocumentRelationResult">
        <include refid="selectReferenceDocumentRelationVo"/>
        <where>  
            <if test="refReferenceId != null "> and ref_reference_id = #{refReferenceId}</if>
            <if test="refDocumentId != null "> and ref_document_id = #{refDocumentId}</if>
        </where>
    </select>
    
    <select id="selectReferenceDocumentRelationByRefReferenceId" parameterType="Long" resultMap="ReferenceDocumentRelationResult">
        <include refid="selectReferenceDocumentRelationVo"/>
        where ref_reference_id = #{refReferenceId}
    </select>
        
    <insert id="insertReferenceDocumentRelation" parameterType="ReferenceDocumentRelation">
        insert into rt_reference_document
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="refReferenceId != null">ref_reference_id,</if>
            <if test="refDocumentId != null">ref_document_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="refReferenceId != null">#{refReferenceId},</if>
            <if test="refDocumentId != null">#{refDocumentId},</if>
         </trim>
    </insert>

    <update id="updateReferenceDocumentRelation" parameterType="ReferenceDocumentRelation">
        update rt_reference_document
        <trim prefix="SET" suffixOverrides=",">
            <if test="refDocumentId != null">ref_document_id = #{refDocumentId},</if>
        </trim>
        where ref_reference_id = #{refReferenceId}
    </update>

    <delete id="deleteReferenceDocumentRelationByRefReferenceId" parameterType="Long">
        delete from rt_reference_document where ref_reference_id = #{refReferenceId}
    </delete>

    <delete id="deleteReferenceDocumentRelationByRefReferenceIds" parameterType="String">
        delete from rt_reference_document where ref_reference_id in 
        <foreach item="refReferenceId" collection="array" open="(" separator="," close=")">
            #{refReferenceId}
        </foreach>
    </delete>

</mapper>