<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.barracuda.barracudateacher.subject.mapper.SubjectInfoMapper">
    
    <resultMap type="SubjectInfo" id="SubjectInfoResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
        <result property="subjectName"    column="subject_name"    />
    </resultMap>

    <sql id="selectSubjectInfoVo">
        select id,
               create_by,
               create_time,
               update_by,
               update_time,
               del_flag,
               remark,
               subject_name,
               sort
        from tb_subject_info
    </sql>

    <select id="selectSubjectInfoList" parameterType="SubjectInfo" resultMap="SubjectInfoResult">
        <include refid="selectSubjectInfoVo"/>
        <where>  
            <if test="subjectName != null  and subjectName != ''"> and subject_name like concat('%', #{subjectName}, '%')</if>
        </where>
    </select>
    
    <select id="selectSubjectInfoById" parameterType="Long" resultMap="SubjectInfoResult">
        <include refid="selectSubjectInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSubjectInfo" parameterType="SubjectInfo" useGeneratedKeys="true" keyProperty="id">
        insert into tb_subject_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="subjectName != null">subject_name,</if>
            <if test="sort != null">sort,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="subjectName != null">#{subjectName},</if>
            <if test="sort != null">#{sort},</if>
         </trim>
    </insert>

    <update id="updateSubjectInfo" parameterType="SubjectInfo">
        update tb_subject_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="subjectName != null">subject_name = #{subjectName},</if>
            <if test="sort != null">sort = #{sort},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSubjectInfoById" parameterType="Long">
        delete from tb_subject_info where id = #{id}
    </delete>

    <delete id="deleteSubjectInfoByIds" parameterType="String">
        delete from tb_subject_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>