<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.barracuda.barracudateacher.student_info.mapper.StudentInfoMapper">

    <resultMap type="StudentInfo" id="StudentInfoResult">
        <result property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="remark" column="remark"/>
        <result property="studentName" column="student_name"/>
        <result property="studentNum" column="student_num"/>
        <result property="studentTag" column="student_tag"/>
        <result property="studentGender" column="student_gender"/>
    </resultMap>

    <sql id="selectStudentInfoVo">
        select id,
               create_by,
               create_time,
               update_by,
               update_time,
               del_flag,
               remark,
               student_name,
               student_num,
               student_tag,
               student_gender
        from tb_student_info
    </sql>

    <select id="selectStudentInfoList" parameterType="StudentInfo" resultMap="StudentInfoResult">
        <include refid="selectStudentInfoVo"/>
        <where>
            <if test="studentName != null  and studentName != ''">and student_name like concat('%', #{studentName},
                '%')
            </if>
            <if test="studentNum != null  and studentNum != ''">and student_num = #{studentNum}</if>
            <if test="studentTag != null  and studentTag != ''">and student_tag like concat('%', #{studentTag}, '%')
            </if>
            <if test="studentGender != null">and student_gender = #{studentGender}</if>
        </where>
    </select>

    <select id="selectStudentInfoById" parameterType="Long" resultMap="StudentInfoResult">
        <include refid="selectStudentInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertStudentInfo" parameterType="StudentInfo" useGeneratedKeys="true" keyProperty="id">
        insert into tb_student_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="studentName != null">student_name,</if>
            <if test="studentNum != null">student_num,</if>
            <if test="studentTag != null">student_tag,</if>
            <if test="studentGender != null">student_gender,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="studentName != null">#{studentName},</if>
            <if test="studentNum != null">#{studentNum},</if>
            <if test="studentTag != null">#{studentTag},</if>
            <if test="studentGender != null">#{studentGender},</if>
        </trim>
    </insert>

    <update id="updateStudentInfo" parameterType="StudentInfo">
        update tb_student_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="studentName != null">student_name = #{studentName},</if>
            <if test="studentNum != null">student_num = #{studentNum},</if>
            <if test="studentTag != null">student_tag = #{studentTag},</if>
            <if test="studentGender != null">student_gender = #{studentGender},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStudentInfoById" parameterType="Long">
        delete
        from tb_student_info
        where id = #{id}
    </delete>

    <delete id="deleteStudentInfoByIds" parameterType="String">
        delete from tb_student_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="listStudentInfoOfClassId" resultMap="StudentInfoResult">
        select id, create_by, create_time, update_by, update_time, del_flag, remark, student_name, student_num,
        student_tag, student_gender from tb_student_info
        left join rt_class_student on tb_student_info.id = rt_class_student.tb_student_info_id
        <where>
            <if test="classId != null">and rt_class_student.tb_class_info_id = #{classId}</if>

            <if test="studentInfo.studentName != null and studentInfo.studentName != ''">and student_name like
                concat('%', #{studentInfo.studentName}, '%')
            </if>
            <if test="studentInfo.studentNum != null and studentInfo.studentNum != ''">and student_num =
                #{studentInfo.studentNum}
            </if>
            <if test="studentInfo.studentTag != null and studentInfo.studentTag != ''">and student_tag like concat('%',
                #{studentInfo.studentTag}, '%')
            </if>
            <if test="studentInfo.studentGender != null">and student_gender =
                #{studentInfo.studentGender}
            </if>
        </where>
    </select>
</mapper>